body {
    background-color: #cbaf87;
}

header {
    background-color: #7e8a97;
    display: block;
    text-align: center;
    position:sticky;
    top: 0px;
}

main{
    background-color: #e7dec8;
}

h2 {
    text-align: center;
}

header ul {
    list-style-type: none;
}

a:link {
    color: rgb(31,183,221);
}

a:visited {
    color: silver;
}

main li {
    color: teal;
}

img {
    float: left; 
    padding-right: 10px;
}

.below {
    clear:left;
}